/* 基本設置 */
body {
  background-color: #f7f7f7;
}

h1,
h2,
h3 {
  color: #333;
}

.card {
  border: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* 書籍封面 */
.book-cover img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* 頁腳樣式 */
footer a:hover {
  color: #f39c12;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 相關書籍推薦區 */
.related-books .card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
